<%- include('../inc/header-user.ejs') %>
<div style="margin-top: 80px; height: 100vh; margin-left: 320px; flex: 1">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên Sản Phẩm</th>
        <th scope="col">Ảnh</th>
        <th scope="col">Gía Bán Hiện Tại</th>
        <th scope="col">Thao Tác</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < list.length; i++) { %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= list[i].name %></td>
        <td>
          <img
            src="<%= list[i].image %>"
            alt="<%= list[i].name %>"
            style="max-width: 100px"
          />
        </td>
        <td><%= list[i].discountPrice %></td>
      </tr>
      <% } %>
      <!-- <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>
          <img
            style="
              object-fit: cover;
              width: 80px;
              height: 80px;
              border-radius: 4px;
            "
          />
        </td>
        <td>@mdo</td>

        <td>
          <div>
            <button>Xóa</button>
            <button style="margin-left: 10px">Sửa</button>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>
          <img
            style="
              object-fit: cover;
              width: 80px;
              height: 80px;
              border-radius: 4px;
            "
          />
        </td>
        <td>@mdo</td>

        <td>
          <div>
            <button>Xóa</button>
            <button style="margin-left: 10px">Sửa</button>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>
          <img
            style="
              object-fit: cover;
              width: 80px;
              height: 80px;
              border-radius: 4px;
            "
          />
        </td>
        <td>@mdo</td>

        <td>
          <div>
            <button>Xóa</button>
            <button style="margin-left: 10px">Sửa</button>
          </div>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
<%- include('../inc/footer.ejs') %>
